eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


spring:
  cloud:
    config:
      override-system-properties: false


#management:
#  tracing:
#    sampling:
#      probability: 1.0
#
#  zipkin:
#    tracing:
#      endpoint: http://localhost:9411/api/v2/spans


management:
  tracing:
    sampling:
      probability: 1.0   # 1.0 = trace 100% of requests
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    org.springframework.web: INFO
    io.micrometer.tracing: DEBUG